HOST=127.0.0.1
PORT=8080
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/bank_api
JWT_SECRET=dev_super_secret_change_me_please
CORS_ORIGINS=http://localhost:3000,http://localhost:8080,http://127.0.0.1:52734 // add new by ","
ACCESS_TOKEN_EXPIRATION_SECS=86400
